// Colours
$color-primary: #5cc09f;
$color-focused: #70d677;
$color-success: #70d677;
$color-alert: #ffc72f;
$color-warning: #ff3c41;
$color-white: #fff;
$color-black: #3b3b3b;
$color-grey-dark: #666;
$color-grey: #a6a6a6;
$color-grey-light: #e8e8e8;
$color-grey-superlight: #f5f6f8;

// Block heights
$group-selector-height: 165px;
$products-height: 84px;
$group-width: 145px;
$group-content-width: 126px;
